NODE_ENV="development"
PORT=3333

DATABASE_URL="postgresql://postgres:postgres@localhost:5433/figurinhas_dev?schema=figurinhas"
DIRECT_URL="postgresql://postgres:postgres@localhost:5433/figurinhas_dev?schema=figurinhas"

SUPABASE_URL="http://localhost:54321"
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

CORS_ORIGIN="http://localhost:5173"
